 /* About.css */

        /* General */

        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            background: black;
        }

        header {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://cdn.githubraw.com/CG3-C0ding-W/Photography-Portfolio/1131a78dcdfdf622d989312628946d5114e59276/Assets/gallery%20images/Beach_MG_2832.JPG");
            width: 100%;
            height: 100vh;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        /* Nav Bar */

        .wrapper {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .nav-area {
            position: absolute;
            right: 75px;
            list-style: none;
            margin-top: 40px;
            z-index: 100;
        }

        .nav-area li {
            display: inline-block;
            margin: 7.5px;
        }

        .nav-area li a {
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            font-family: 'Poppins';
            font-size: 20px;
            text-transform: uppercase;
        }

        .nav-area li a:hover {
            background: #fff;
            color: #333;
        }

        /* About Section */

        .about-container {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .about-form {
            background-color: rgba(255, 255, 255, 0.6);
            display: flex;
            flex-direction: column;
            padding: 1vw 2vh;
            width: 90%;
            max-width: 90%;
            border-radius: 10px;
            margin: 0 auto;
        }

        .about-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .about-text {
            flex: 1;
            padding-right: 20px;
        }

        .about-image {
            flex: 1;
            padding-right: 20px;
        }

        .about-image img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        form h1 {
            color: #000;
            font-weight: 800;
        }

        form p {
            padding: 5px;
            font-size: 1.3rem;
        }

        /* Gallery Section */

        .gallery-section {
            background-color: black;
            width: 100vw;
            height: 100vh;
        }

        .gallery-section h1 {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 4rem;
            position: relative;
            padding-top: 50px;
            font-family: Times;
        }

        .filter-buttons {
            position: relative;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .filter-buttons ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        .filter-buttons ul li {
            list-style: none;
            background: white;
            padding: 12px 20px;
            margin: 5px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        .filter-buttons ul li.active {
            background: red;
            color: #fff;
        }

        .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            gap: 10px;
        }

        .gallery-Images {
            height: 350px;
            width: auto;
            position: relative;
        }

        .gallery-Images img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .gallery-Images.hide {
            display: none;
        }

        @media (max-width: 768px) {
            header {
                height: 100vh;
            }
            .nav-area {
                right: 20px;
                margin-top: 20px;
            }
            .nav-area li a {
                padding: 5px 10px;
                font-size: 16px;
            }
            .about-container {
                height: auto;
                margin: 60px auto;
                padding: 10px;
            }
            .about-form {
                padding: 1vw 2vh;
                width: 100%;
                max-width: 100%;
            }
            .about-content {
                flex-direction: column;
                align-items: flex-wrap;
            }
            .about-text,
            .about-image {
                padding-right: 0;
                padding-bottom: 0;
            }
            .about-image img {
                width: 50vw;
                padding: 1rem;
                border-radius: 2rem;
            }
            form p {
                padding: 5px;
                font-size: 1.1rem;
            }
            .gallery-section h1 {
                font-size: 2rem;
                padding-top: 20px;
            }
            .filter-buttons ul li {
                padding: 8px 15px;
                margin: 3px;
                font-size: 12px;
            }
            .gallery-Images {
                height: 200px;
            }
        }
